	<link href="/static/game/game.css" rel="stylesheet" />
{#	<script src="/static/game/jquery.js" type="text/javascript"></script> #}
	<script src="/static/game/game.js" type="text/javascript"></script> 
	<div id="game_wrapper">
		<div id="game_content">
			<div id="jar"><img class="noborder" src="/static/game/jar_half.png"></div>
			<div id="ripple"><img class="noborder" src="/static/game/ripple.png"></div>
			<div id="cloud1"><img  class="noborder" src="/static/game/cloud1.png"></div>
			<div id="cloud2"><img class="noborder" src="/static/game/cloud2.png"></div>
			<div id="cloud3"><img class="noborder" src="/static/game/cloud3.png"></div>
			<div id="welcome"><img class="noborder" src="/static/game/welcome.png"></div>
		</div>
	</div>
