{% extends "catalog.html" %}
{% block content %}
<br/><br/>
	<div class="wrapper container_12">
		<div class="main-story grid_12">
			<img src={{main_frame.image.url}} width="500"/>
			<h1><a href="{{main_frame.get_absolute_url}}">{{main_frame.name}}</a></h1>
			<p class="date"> {{main_frame.created_at|date:"d-M-Y H:i:i"}}</p>
			<p> {{main_frame.description}}</p>
		</div><!-- .main-story -->
		<div class="more-articles container_12">
			<h2 class="grid_12"> <i> And more</i>  </h2>
			{% for frame in latest_frames %}
				{% if forloop.counter0|divisibleby:3  %}
					{% if not forloop.first %}
			</div> <!--grid_4 --> {# must not close div in first iteration #}
					{% endif %}
			<div class="grid_4 clearfix">
				 <div>
					<a href="{{frame.get_absolute_url}}"><h3>{{frame.name}}</h3></a>  
					<img src="{{frame.image.url}}" alt="{{frame.name}}" width="280"/> 
					{{frame.description}}
				 </div>
					<br/>
				{#	<img src="{{frame.image.url}}" alt="{{frame.name}}" width="220" height="125" /> #} 
				{% else %}
				<div class="tiny_article">
						<br/>
						<h4><a href="{{frame.get_absolute_url}}">{{frame.name}}</a> </h4> 
						{{frame.description}}
				</div>
				{% endif %}
			{% endfor %}
			</div> <!--closing last tag -->
		</div><!-- .more articles -->
	</div><!-- wrapper -->
{% endblock %}
