{% extend "catalog.html" %}
{% block content %}
	<h3>{{album.name}}</h3>
	{{album.description}}
	<br /><br />
	{% for frame in frames %}
		<div class="frame_thumbnail">
			<a href="{{frame.image.url}}" rel="lightbox" title={{frame.description}}>
				<img src={{frame.thumbnail.url}}
					alt="{{frame.name}}" class="bn" />
			</a>
		</div>
	{% endfor %}
<!--
<div class="imageRow">
	<div class="single">
		<a href="/static/images/enjoy/cupcakes.jpg" rel="lightbox" title="my caption"><img height="150" src="/static/images/enjoy/cupcakes.jpg" alt="Plants: image 4 0f 4 thumb" /></a>
	<a href="/static/images/enjoy/nice_coffee.jpg" rel="lightbox" title="my caption"><img  height="150"src="/static/images/enjoy/nice_coffee.jpg" alt="Plants: image 4 0f 4 thumb" /></a>
	</div>
</div> -->
